<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />

<link href='https://fullcalendar.io/js/fullcalendar-3.1.0/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<link href='https://fullcalendar.io/js/fullcalendar-3.1.0/fullcalendar.min.css' rel='stylesheet' />
<script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/moment.min.js'></script>
<script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/jquery.min.js'></script>
<script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/jquery-ui.min.js'></script>
<script src='https://fullcalendar.io/js/fullcalendar-3.1.0/fullcalendar.min.js'></script>
<script src='https://fullcalendar.io/js/fullcalendar-3.1.0/gcal.min.js'></script>
<script>

      
   $(document).ready(function() {

       var unscheduledEvents = []; 
       var scheduledEvents =[];
       var req = $.ajax({
                          url: "/classes",
                          method: "GET"
                         
                        });
                         
                        req.done(function( data ) {
                         data.forEach(function(event){
                            if(event.date1){
                                scheduledEvents.push({
                                    title: event.lesson+ ' ' + event.subject,
                                    start: event.date1,
                                    url:'/classes/recording?lesson='+event.lesson+'+'+'instructor1='+event.instructor1+'+'+'instructor2='+event.instructor2+'+'+'recording1='+event.recording1+'+'+'recording2='+event.recording2,
                                    
                                    // need to add one day for full calender to display the end date correctly
                                    end:moment(event.date2).add(1,'day'),
                                    editable:true,
                                    allDay:true
                                    

                                });
                            }else{
                                unscheduledEvents.push({
                                
                                    title: event.lesson+ ' ' + event.subject
                                
                                });   
                            }

                         });
                         populateUnscheduledEvents(unscheduledEvents);


                         console.log(data);
                        });
                         
                        req.fail(function( jqXHR, textStatus ) {
                          alert( "Request failed: " + textStatus );
                        });





    function populateUnscheduledEvents(events){

         $('#external-events').append('<h4 class="center">Classes</h4>');
         $('#external-events').append('');
       
        events.forEach(function(event){
        var $div = $('<div class="fc-event">');
        $div.text(event.title);

        $('#external-events').append($div);

 

        });
          /* initialize the external events
        -----------------------------------------------------------------*/


            $('#external-events .fc-event').each(function() {


            // store data so the calendar knows to render an event upon drop
            $(this).data('event', {
                title: $.trim($(this).text()), // use the element's text as the event title
                editable:true,
                allDay:true

                
            });

            // make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 999,
                revert: true,      // will cause the event to go back to its
                revertDuration: 0 //  original position after the drag
            });

        });




        var tobeUpdatedEvents =[];

      

       

        /* initialize the calendar
        -----------------------------------------------------------------*/
      

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: true,
            droppable: true,
            allDay:true, 


            drop:function(){
                 $(this).remove();
                 
            },


            // this allows things to be dropped onto the calendar
            eventDrop: function(event) {
               
                
                tobeUpdatedEvents = tobeUpdatedEvents.filter(function(ele){
                    return ele.lesson != event.title.split(' ')[0];
                });
                

                tobeUpdatedEvents.push({
                    lesson:event.title.split(' ')[0],
                    date1: moment(event.start, 'DD.MM.YYYY').format('YYYY-MM-DD'),

                    // need to subtract one day for full calender to give the end date correctly
                    date2: moment(event.end, 'DD.MM.YYYY').subtract(1, "days").format('YYYY-MM-DD')

                });

            },  

           // grays out fri and sunday columns 
           businessHours: {
       
                dow: [1,2,3,4,6] // fri and sun not included here since they need to be grayed
            },

         
           // prevent dropping events on fri and sun
           eventAllow: function(dropLocation, draggedEvent) {
                if (moment(dropLocation.start).format('ddd') === 'Sun' || moment(dropLocation.start).format('ddd') === 'Fri' ||  dropLocation.holiday === 1) {
                    return false; // a boolean
                }
                else {
                    return true;
                }
            },

           // push the event into the array tobeUpdated Events 
           eventReceive:function(event){


                tobeUpdatedEvents = tobeUpdatedEvents.filter(function(ele){
                    return ele.lesson != event.title.split(' ')[0];
                });
                

                tobeUpdatedEvents.push({
                    lesson:event.title.split(' ')[0],
                    date1: moment(event.start, 'DD.MM.YYYY').format('YYYY-MM-DD'),
                    date2: moment(event.end, 'DD.MM.YYYY').subtract(1, "days").format('YYYY-MM-DD')

                });


       
            },

            // push the event into the array tobeUpdated Events 
            eventResize:function(event){

                tobeUpdatedEvents = tobeUpdatedEvents.filter(function(ele){
                    return ele.lesson != event.title.split(' ')[0];
                });

                 tobeUpdatedEvents.push({
                    lesson:event.title.split(' ')[0],
                    date1: moment(event.start, 'DD.MM.YYYY').format('YYYY-MM-DD'),
                    date2: moment(event.end, 'DD.MM.YYYY').subtract(1, "days").format('YYYY-MM-DD')

                });
            },

          // // prevent events to be dropped on 
          // dayRender: function(date, cell){
          //            if (moment(date).format('ddd')==='Sun' || moment(date).format('ddd')==='Fri'){
          //               $(cell).addClass('disabled');
          //            }



          //   },


          googleCalendarApiKey:'AIzaSyDEBR2AuK6QHCWr521eDJ8ZnDT9IP28c78',

           eventSources: [{
                // already scheduled events from database
                events: scheduledEvents
            },
            {
               // public holidays
                url: 'https://www.googleapis.com/calendar/v3/calendars/usa__en%40holiday.calendar.google.com/events?key=AIzaSyDEBR2AuK6QHCWr521eDJ8ZnDT9IP28c78',
                className: 'gcal-event',
                editable:false,
                color: 'red',   // an option!
                textColor: 'black',
                overlap:false,
                draggable:false,
                droppable:false


            
             },
              {
               // greys out cells for public holidays
                url: 'https://www.googleapis.com/calendar/v3/calendars/usa__en%40holiday.calendar.google.com/events?key=AIzaSyDEBR2AuK6QHCWr521eDJ8ZnDT9IP28c78',
               
                rendering:'background',
                backgroundColor:'lightgrey'


            
             }]

                  
        });


        $('#saveCal').on('click',function(){
            console.log('inside save');
            console.log(tobeUpdatedEvents);
            if(tobeUpdatedEvents.length){
            var req = $.ajax({
                          url: "/classes/?_method=PUT",
                          method: "POST",
                          data: {events: tobeUpdatedEvents},
                          dataType: "json"
                          
                        });
                         
                        req.done(function( msg ) {
                         console.log(msg);
                         alert("Saved!");
                        });
                         
                        req.fail(function( jqXHR, textStatus ) {
                          alert( "Request failed: " + textStatus );
                        });
            }


        });


  
    } 

});


        

    



</script>
<style>

    body {
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    }
        
    #wrap {
        width: 1100px;
        margin: 0 auto;
    }
        
    #external-events {
        float: left;
        width: 150px;
        padding: 0 10px;
        border: 1px solid #ccc;
        background: #eee;
        text-align: left;
    }
        
    #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
    }
        
    #external-events .fc-event {
        margin: 10px 0;
        cursor: pointer;
    }
        
    #external-events p #saveCal{
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
    }
        
    #external-events p input #saveCal {
        margin: 0;
        vertical-align: middle;
    }

    #calendar {
        float: right;
        width: 900px;
    }

    .gcal-event{
        background: black;
    }


</style>
</head>
<body>
    <div id='wrap'>

        <button id="saveCal">Save Calendar</button>
        <a href="/classes/readme" target="_blank"><button id="readme">Generate Readme</button></a>
        <!-- <a href="/classes/updateCohortInfo" target="_blank"><button id="cohortInfo">updateCohortInfo</button></a> -->
        <div id='external-events'>

            
        </div>
           

        <div id='calendar'></div>

        <div style='clear:both'></div>

    </div>
</body>
</html>
