<!DOCTYPE html>
<html>
<head>
	<title>User and Cohort Administration</title>
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

</head>
<body>

	<nav class="blue accent-2">
	    <div class="nav-wrapper">
	        <h4 class="center">Update Cohort Info</h4>
	    </div>
  	</nav>
 

    <div class="container orange-text">
     
   		<!-- form for getting user inputs -->

   			<form id="cohortForm" action="/classes/recording?_method=PUT" method="POST">

		    <div class="row">
				
				<div class="input-field col s8 offset-s2">
					<label for="cohort">Cohort</label>					
					<input type="text" name="cohort_name" id="cohort" class="input-field" required>
				</div>
			</div>

			 <div class="row">
				
				<div class="input-field col s8 offset-s2">
					<label for="title">Title</label>					
					<input type="text" name="cohort_title" id="title" class="input-field">
				</div>
			</div>

			 <div class="row">
				
				<div class="input-field col s8 offset-s2">
					<label for="startDate"></label>					
					<input type="date" name="start_date" id="startDate" class="input-field">
				</div>
			</div>


			 <div class="row">
				
				<div class="input-field col s8 offset-s2">
					<label for="campus">Campus</label>					
					<input type="text" name="campus" id="campus" class="input-field" required>
				</div>
			</div>


			 <div class="row">
				
				<div class="input-field col s8 offset-s2">
					<label for="city">city</label>					
					<input type="text" name="city" id="city" class="input-field" required>
				</div>
			</div>

			<div class="row">
				
				<div class="input-field col s8 offset-s2">
					<label for="supplLink">Supplemental Content Link</label>					
					<input type="text" name="suppl_content_link" id="supplLink" class="input-field">
				</div>
			</div>

			<div class="row">
				
				<div class="input-field col s8 offset-s2">
					<label for="absenceLink">Absence Link</label>					
					<input type="text" name="absence_link" id="absenceLink" class="input-field">
				</div>
			</div>

			<div class="row">
				
				<div class="input-field col s8 offset-s2">
					<label for="slackLink">Slack Link</label>					
					<input type="text" name="slack_link" id="slackLink" class="input-field">
				</div>
			</div>

			<div class="row">
				
				<div class="input-field col s8 offset-s2">
					<label for="tutoringLink">Tutoring Link</label>					
					<input type="text" name="turoring_link" id="tutoringLink" class="input-field">
				</div>
			</div>

			<div class="row">
				
				<div class="input-field col s8 offset-s2">
					<label for="feedbackLink">Feedback Link</label>					
					<input type="text" name="feedback_link" id="feedbackLink" class="input-field">
				</div>
			</div>


			<div class="row">
				
				<div class="input-field col s8 offset-s2">
					<label for="hwLink">Feedback Link</label>					
					<input type="text" name="hw_submission_link" id="hwLink" class="input-field">
				</div>
			</div>


			
			
			<!-- Submit Button -->
			<div class="row center">
	      		<button id="query" class="btn waves-effect waves-light  blue accent-2" type="submit" name="action">Save</button>
	      		
	      	</div>
 		</form>
	  
	</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script>

</script>
</body>
</html